.cotainer__addItem_inner {
	position: relative;
	width: 100%;
	margin: 24px auto;
	min-height: 754px;
	max-width: 1110px;
	background-color: #ffffff;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	padding: 24px 95px;
}

.cotainer__addItem_inner input[type="text"], 
.cotainer__addItem_inner input[type="number"] {
	width: 255px;
	height: 32px;
	padding: 16px 7px;
	margin-top: 8px;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
}

.cotainer__addItem_inner input[type="text"]::placeholder, 
.cotainer__addItem_inner input[type="number"]::placeholder {
	color: #e8e8e8;
	font-size: 16px;
	line-height: 19px;
}

.cotainer__addItem_inner h3 {
	margin-top: 97px;
}

.addItem__input_label {
	font-size: 14px;
	line-height: 16px;
	color: #000;
	opacity: 0.8;
}

.img_label span, 
.addItem__input_label span {
	color: #ff0000;
}

.cotainer__addItem_inner form input[type="number"], 
.cotainer__addItem_inner form input[type="text"] {
	min-width: 255px;
}

.cotainer__addItem_inner form textarea {
	max-width: 540px;
	min-height: 112px;
	width: 100%;
	resize: none;
	padding: 8px;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	margin-top: 10px;
}

.cotainer__addItem_inner form textarea::placeholder {
	color: #e8e8e8;
	font-size: 16px;
	line-height: 19px;
}

.img__upload {
	display: none;
}

.img_label {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	opacity: 0.8;
}

.img__upload_label {
	display: block;
	width: 255px;
	height: 32px;
	padding: 6px;
	padding-left: 8px;
	margin-top: 8px;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	color: #e8e8e8;
	font-size: 16px;
	position: relative;
}

.img__upload_label:after {
	content: "\e901";
	font-family: "icomoon" !important;
	position: absolute;
	font-size: 24px;
	line-height: 32px;
	left: 226px;
	bottom: 0px;
	color: #0258ff;
	pointer-events: none;
}

.input_row {
	display: flex;
	flex-direction: column;
}

.addPropertyToItem__container {
	display: flex;
}

.addPropertyToItem__container p {
	color: #000000;
	opacity: 0.8;
}

.addPropertyToItem__container select option {
	color: #000000;
}

.addPropertyToItem__container_inner {
	width: 300px;
	margin-right: 50px;
}

.addPropertyToItem__container_inner button {
	margin-top: 10px;
}

.addPropertyToItem__container_inner select {
	height: 32px;
	min-width: 255px;
	font-size: 14px;
	line-height: 32px;
	padding-left: 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	appearance: none;
	outline: none;
}

.addPropertyToItem__container_inner select option {
	font-size: 14px;
	line-height: 32px;
	padding: 8px 0;
}

.addPropertyToItem__title {
	display: flex;
	padding: 10px;
	margin-top: 16px;
	margin-bottom: 14px;
	padding-left: 0;
}

.addPropertyToItem__title h3 {
	display: block;
	margin: 0;
	padding-top: 3px;
}

.addPropertyToItem__title button {
	margin-bottom: 2px;
	margin-left: 36px;
}

.propertyTitleAndBtn__block {
	display: flex;
	padding-left: 0;
	margin-left: -54px;
}

.propertyAdd__title {
	display: block;
	margin: 16px 0;
}

.select__p {
	position: relative;
}

.select__p:after {
	content: "\e900";
	font-family: "icomoon" !important;
	position: absolute;
	font-size: 20px;
	line-height: 32px;
	left: 230px;
	color: #0258ff;
	pointer-events: none;
}

.additinalValue__container {
	display: flex;
}

.additinalValue__container button {
	margin-top: 10px;
}

.additinalValue__container input {
	margin-right: 30px;
}

.nav_btn__container {
	position: absolute;
	top: 24px;
	right: 96px;
	max-width: 350px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav_btn__container button[type="submit"] {
	width: 160px;
	height: 32px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
	background: #34c15c;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	line-height: 32px;
	color: #ffffff;
	outline: none;
	cursor: pointer;
}

.nav_btn__container .nav_btn {
	width: 160px;
	height: 32px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
	background: #34c15c;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	line-height: 32px;
	color: #ffffff;
	outline: none;
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
}

.nav_btn__container .nav_btn:first-child {
	background: #ff0000;
}

.add__btn {
	background-color: transparent;
	border: none;
	outline: none;
	color: #0258ff;
	font-size: 24px;
	cursor: pointer;
}

.add__btn:before {
	content: "\e902";
	font-family: "icomoon" !important;
}

.minus__btn {
	background-color: transparent;
	border: none;
	color: #0258ff;
	font-size: 24px;
	cursor: pointer;
	margin-right: 30px;
	outline: none;
}

.minus__btn:before {
	content: "\e903";
	font-family: "icomoon" !important;
}

.has_error {
  border-color: red !IMPORTANT; /*обводка формы*/
}

/* удаление кнопок в цифровом инпуте*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}