* {
  font-family: Roboto;
}

.container {
  max-width: 1170px;
  height: 100%;
  display: flex;
  margin: 0 auto;
	/* margin-bottom: 80px; */
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.login__block {
  /* margin: auto;
  margin-top: 16%; */
  min-height: 350px;
  width: 336px;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 24px 16px;
}

h1 {
  text-align: center;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}

.login__btn {
  margin: 0 auto;
  display: block;
  background: #ffb800;
  border-radius: 4px;
  border: none;
  width: 160px;
  height: 32px;
  margin-top: 24px;
  color: #fff;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.regreg {
  width: 200px;
}

.login__block p,
.login__block label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin: 0px;
  /* margin-top: 16px; */
}

.login__block input[type="text"],
.login__block input[type="password"],
.login__block input[type="email"],
.cotainer__addItem-inner input[type="text"],
.cotainer__addItem-inner input[type="number"] {
  width: 318px;
  height: 32px;
  padding: 16px 7px;
  margin-top: 8px;
  /* margin-bottom: 8px; */
  /* White */
  background: #ffffff;
  /* Light Grey */
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
}
.login__block input[type="text"]::placeholder,
.login__block input[type="password"]::placeholder,
.login__block input[type="email"]::placeholder,
.cotainer__addItem-inner input[type="text"]::placeholder,
.cotainer__addItem-inner input[type="number"]::placeholder {
  color: #e8e8e8;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.reg__btn {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  color: #0258ff;
  font-size: 14px;
  line-height: 16px;
}

/* itemCard */

.ItemCard__inner {
  width: 100%;
  margin-top: 72px;
  min-height: 754px;
  max-width: 1170px;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 24px 95px;
}

.back__btn {
  display: block;
  color: #0258ff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 48px;
}

.line__line {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 24px;
}

img {
  max-width: 350px;
  max-height: 190px; 
  display: block;
  margin-right: 30px;
}

.ItemCard__discription {
  display: flex;
}

.ItemCard__discription-text {
  width: 100%;
}

.ItemCard__discription-text h1 {
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
}

.ItemCard__discription-text p {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

body {
  background: #f7f9fa;
}

h3 {
  font-size: 16px;
  line-height: 19px;
}

p {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.price {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000;
}

.ItemCard__inner form p select {
  height: 32px;
  min-width: 255px;
  font-size: 14px;
  line-height: 32px;
  color: #828282;
  padding-left: 8px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  outline: none;
}

.select__p {
  position: relative;
}

.select__p:after {
  content: "\e900";
  font-family: "icomoon" !important;
  position: absolute;
  font-size: 20px;
  line-height: 32px;
  left: 230px;
  color: #0258ff;
  pointer-events: none;
}

.ItemCard__inner form p select option {
  font-size: 14px;
  line-height: 32px;
  color: #828282;
  padding: 8px 0;
}

.buy__btn input {
  margin: 0 auto;
  display: block;
  background: #ffb800;
  border-radius: 4px;
  border: none;
  width: 160px;
  height: 32px;
  margin-top: -58px;
  color: #fff;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* tabs */

.tab-list {
  cursor: pointer;
  font-size: 22px;
  line-height: 60px;
  margin-top: 52px;
  /* margin-bottom: 14px; */
}

.tab-list-item {
  display: inline-block;
  padding: 0 2.75rem;
  height: 60px;
}

.tab-list-active {
  background: linear-gradient(180deg, #acc8ff 0%, rgba(2, 88, 255, 0) 100%);
  border-top: 2px solid #0258ff;
  color: #0258ff;
}

/* allItemsAndProperty*/

.container__inner-items-property {
  max-width: 1170px;
  margin: 0 auto;
}

.items__inner-container {
  display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
} 

.property__inner-container {
  display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
} 

.items__inner-container .link__btn,
.property__inner-container .link__btn {
  background: #ffb800;
  border-radius: 4px;
  border: none;
  width: 160px;
  height: 32px;
  color: #fff;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 32px;
}

.property__inner-container .link__btn {
	margin-bottom: 7px;
}

.items__inner-container table,
.property__inner-container table {
  margin-top: 76px;
  width: 100%;
}

table tbody .table__head td {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  opacity: 0.8;
}

.table__head td:first-child {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.8;
}

.items__inner-container table td,
.property__inner-container table td {
  padding-bottom: 30px;
  font-size: 14px;
}

.item__link-btn {
  color: #0258ff;
  font-size: 14px;
  line-height: 16px;
}
.table__control-btn__container {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
}

.property__inner-container .table__control-btn__container a {
  margin-left: 100px;
}

.cotainer__addItem-inner {
  position: relative;
  padding-left: 95px;
  padding-bottom: 30px;
  margin-top: 24px;
  min-height: 754px;
  max-width: 1170px;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.cotainer__addItem-inner h3 {
  margin-top: 97px;
}

.nav-btn__container {
  position: absolute;
  top: 24px;
  right: 96px;
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-btn__container button[type="submit"] {
  width: 160px;
  height: 32px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  background: #34c15c;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.nav-btn__container .nav-btn {
  width: 160px;
  height: 32px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  background: #34c15c;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 32px;
}

.nav-btn__container .nav-btn:first-child {
  background: #ff0000;
}

.cotainer__addItem-inner {
  width: 100%;
}

.addItem__input-label {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  opacity: 0.8;
}

.addItem__input-label span {
  color: #ff0000;
}

.cotainer__addItem-inner form input[type="number"],
.cotainer__addItem-inner form input[type="text"] {
  width: 255px;
}

.cotainer__addItem-inner form textarea {
  width: 540px;
  height: 112px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-top: 10px;
}

.cotainer__addItem-inner form textarea::placeholder {
  color: #e8e8e8;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.img__upload {
  display: none;
}

.img__upload-label {
  display: block;
  width: 255px;
  height: 32px;
  padding: 6px;
  padding-left: 8px;
  margin-top: 8px;
  /* margin-bottom: 8px; */
  /* White */
  background: #ffffff;
  /* Light Grey */
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #e8e8e8;
  font-size: 16px;
  position: relative;
}

.img__upload-label:after {
  content: "\e901";
  font-family: "icomoon" !important;
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  left: 226px;
  bottom: 0px;
  color: #0258ff;
  pointer-events: none;
}

.addPropertyToItem__container {
  display: flex;
}
.addPropertyToItem__container p {
  color: #000000;
  opacity: 0.8;
}

.addPropertyToItem__container select option {
  color: #000000;
}

.addPropertyToItem__container-inner {
  width: 300px;
  margin-right: 50px;
}

.addPropertyToItem__container-inner select {
  height: 32px;
  min-width: 255px;
  font-size: 14px;
  line-height: 32px;
  padding-left: 8px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  outline: none;
}

.addPropertyToItem__container-inner select option {
  font-size: 14px;
  line-height: 32px;
  padding: 8px 0;
}

.add__btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #0258ff;
  font-size: 24px;
  cursor: pointer;
}

.addPropertyToItem__title {
  display: flex;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 14px;
  padding-left: 0;
}
.addPropertyToItem__title h3 {
  display: block;
  margin: 0;
  padding-top: 3px;
}
.addPropertyToItem__title button {
  margin-bottom: 2px;
  margin-left: 36px;
}

.property-add__title {
  display: block;
  margin: 16px 0;
}

.minus__btn {
  background-color: transparent;
  border: none;
  color: #0258ff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 30px;
  outline: none;
}

.propertyTitleAndBtn__block {
  display: flex;
  padding-left: 0;
  margin-left: -66px;
}

.additinalValue__container {
  display: flex;
}

.additinalValue__container input {
  min-width: 318px;
  margin-right: 30px;
}

option {
  zoom: 1.2;
}

.MuiTable-root.makeStyles-table-3 {
  border: 1px solid #e8eaeb;
  border-collapse: separate;
  border-bottom: none;
  border-radius: 10px;
}

/* .tab-content {
  overflow-x: auto;
} */

.del__btn {
  display: inline;
  color: #0258ff;
  font-size: 14px;
  text-decoration: underline;
  border: none;
  cursor: pointer;
	outline: none;
	background-color: transparent;
}

.listBtns__container {
  display: flex;
  justify-content: space-between;
}

.ProperyListDelBtn__container {
  display: flex;
  justify-content: center;
}

.listName__link {
  color: #0258ff;
}

.edit__btn {
  color: #0258ff;
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}







/* FFFFFFFFFFFF */

.has-error {
  border-color: red !IMPORTANT;
}

.form-message {
  font-size: 10px;
  margin-bottom: 10px;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.img-label {
  margin-top: 0;
  margin-bottom: 8px;
}





.search__input-container {
  margin-top: 5px;
  box-sizing: border-box;
  margin-left: 20px;
}

.search__input-container input {
  width: 200px;
  height: 32px;
  padding: 16px 7px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  outline:none;
}

.search__input-container input::placeholder {
  color: #e8e8e8;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}


/* мелкие дороботки дизайна */


.MuiTableContainer-root {
	overflow-x: hidden !IMPORTANT;
}

.makeStyles-table-3 {
	margin-top: 0px !IMPORTANT;
}

.MuiTable-root.makeStyles-table-3 {
	border: none;
}

.MuiTable-root {
	margin-top: 0px !important;
}